version: "3.9"
services:
  edc-provider:
    image: ghcr.io/connected-intelligent-systems/connector:v0.10.0
    ports:
      - 19191:19191 # health check
      # - 19192:19192
      - 19193:19193 # management endpoint
      # - 19194:19194 # ds protocol (normaly forwarded, but edcs are in same network)
      - 19291:19291 # public endpoint
      - 19199:19199 # federated catalog endpoint
    volumes:
      - ./edc/vault.properties:/resources/vault.properties
      - ./edc/nodes.properties:/resources/nodes.properties
    environment:
      EDC_VAULT_FILE_PATH: /resources/vault.properties
      EDC_DSP_CALLBACK_ADDRESS: http://edc-provider:19194/protocol
      EDC_DATAPLANE_API_PUBLIC_BASEURL: http://edc-provider:19291/public
      WEB_HTTP_PORT: 19191
      WEB_HTTP_PATH: /api
      WEB_HTTP_MANAGEMENT_PORT: 19193
      WEB_HTTP_MANAGEMENT_PATH: /management
      WEB_HTTP_PROTOCOL_PORT: 19194
      WEB_HTTP_PROTOCOL_PATH: /protocol
      WEB_HTTP_CATALOG_PORT: 19199
      WEB_HTTP_CATALOG_PATH: /catalog
      EDC_PUBLIC_KEY_ALIAS: public-key
      EDC_TRANSFER_PROXY_TOKEN_SIGNER_PRIVATEKEY_ALIAS: private-key
      EDC_TRANSFER_PROXY_TOKEN_VERIFIER_PUBLICKEY_ALIAS: public-key
      WEB_HTTP_PUBLIC_PORT: 19291
      WEB_HTTP_PUBLIC_PATH: /public
      WEB_HTTP_CONTROL_PORT: 19192
      WEB_HTTP_CONTROL_PATH: /control
      EDC_DATASOURCE_DEFAULT_URL: jdbc:postgresql://postgres:5432/dataspace?currentSchema=provider
      EDC_DATASOURCE_DEFAULT_USER: user
      EDC_DATASOURCE_DEFAULT_PASSWORD: postgres
      EDC_SQL_SCHEMA_AUTOCREATE: true
      EDC_OAUTH_TOKEN_URL: http://keycloak:8080/realms/dataspace/protocol/openid-connect/token
      EDC_OAUTH_PROVIDER_JWKS_URL: http://keycloak:8080/realms/dataspace/protocol/openid-connect/certs
      EDC_OAUTH_CERTIFICATE_ALIAS: public-key
      EDC_OAUTH_PRIVATE_KEY_ALIAS: private-key
      EDC_OAUTH_CLIENT_ID: edc-provider
      EDC_OAUTH_PROVIDER_AUDIENCE: http://keycloak:8080/realms/dataspace
      EDC_OAUTH_VALIDATION_NBF_LEEWAY: 20
      EDC_OAUTH_VALIDATION_ISSUED_AT_LEEWAY: 5
      EDC_AGENT_IDENTITY_KEY: participant_id
      EDC_PARTICIPANT_ID: company1
      EDC_NODES_FILE_PATH: /resources/nodes.properties
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:19191/api/check/health"]
      interval: 20s
      timeout: 20s
      retries: 5
    depends_on:
      keycloak:
        condition: service_healthy
        restart: true

  edc-consumer:
    image: ghcr.io/connected-intelligent-systems/connector:v0.10.0
    ports:
      - 29191:19191 # health check
      # - 29192:19192
      - 29193:19193 # management endpoint
      # - 29194:19194 # ds protocol (normaly forwarded, but edcs are in same network)
      - 29291:19291 # public endpoint
      - 29199:19199 # federated catalog endpoint
    volumes:
      - ./edc/vault.properties:/resources/vault.properties
      - ./edc/nodes.properties:/resources/nodes.properties
    environment:
      EDC_VAULT_FILE_PATH: /resources/vault.properties
      EDC_DSP_CALLBACK_ADDRESS: http://edc-consumer:19194/protocol
      EDC_DATAPLANE_API_PUBLIC_BASEURL: http://edc-consumer:19291/public
      WEB_HTTP_PORT: 19191
      WEB_HTTP_PATH: /api
      WEB_HTTP_MANAGEMENT_PORT: 19193
      WEB_HTTP_MANAGEMENT_PATH: /management
      WEB_HTTP_PROTOCOL_PORT: 19194
      WEB_HTTP_PROTOCOL_PATH: /protocol
      WEB_HTTP_CATALOG_PORT: 19199
      WEB_HTTP_CATALOG_PATH: /catalog
      EDC_PUBLIC_KEY_ALIAS: public-key
      EDC_TRANSFER_PROXY_TOKEN_SIGNER_PRIVATEKEY_ALIAS: private-key
      EDC_TRANSFER_PROXY_TOKEN_VERIFIER_PUBLICKEY_ALIAS: public-key
      WEB_HTTP_PUBLIC_PORT: 19291
      WEB_HTTP_PUBLIC_PATH: /public
      WEB_HTTP_CONTROL_PORT: 19192
      WEB_HTTP_CONTROL_PATH: /control
      EDC_DATASOURCE_DEFAULT_URL: jdbc:postgresql://postgres:5432/dataspace?currentSchema=consumer
      EDC_DATASOURCE_DEFAULT_USER: user
      EDC_DATASOURCE_DEFAULT_PASSWORD: postgres
      EDC_SQL_SCHEMA_AUTOCREATE: true
      EDC_OAUTH_TOKEN_URL: http://keycloak:8080/realms/dataspace/protocol/openid-connect/token
      EDC_OAUTH_PROVIDER_JWKS_URL: http://keycloak:8080/realms/dataspace/protocol/openid-connect/certs
      EDC_OAUTH_CERTIFICATE_ALIAS: public-key
      EDC_OAUTH_PRIVATE_KEY_ALIAS: private-key
      EDC_OAUTH_CLIENT_ID: edc-consumer
      EDC_OAUTH_PROVIDER_AUDIENCE: http://keycloak:8080/realms/dataspace
      EDC_OAUTH_VALIDATION_NBF_LEEWAY: 20
      EDC_OAUTH_VALIDATION_ISSUED_AT_LEEWAY: 5
      EDC_AGENT_IDENTITY_KEY: participant_id
      EDC_PARTICIPANT_ID: company2
      EDC_NODES_FILE_PATH: /resources/nodes.properties
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:19191/api/check/health"]
      interval: 20s
      timeout: 20s
      retries: 5
    depends_on:
      keycloak:
        condition: service_healthy
        restart: true

  portal-provider:
    image: ghcr.io/connected-intelligent-systems/portal:develop
    ports:
      - "8085:8085"
    environment:
      EDC_URL: http://edc-provider:19193/management
      FEDERATED_CATALOG_URL: http://edc-provider:19199/catalog
      PORT: 8085
      DEFAULT_USER_ID: company1
      DEFAULT_USER_FULL_NAME: Company 1
      DEFAULT_USER_EMAIL: admin@company1.local
      DEFAULT_USER_TENANT_ID: default
      DEFAULT_USER_ROLES: admin
    configs:
      - source: portal_config_js
        target: /app/public/config.js
    depends_on:
      edc-provider:
        condition: service_healthy
        restart: true
      

  portal-consumer:
    image: ghcr.io/connected-intelligent-systems/portal:develop
    ports:
      - "8086:8086"
    environment:
      EDC_URL: http://edc-consumer:19193/management
      FEDERATED_CATALOG_URL: http://edc-consumer:19199/catalog
      PORT: 8086
      DEFAULT_USER_ID: company2
      DEFAULT_USER_FULL_NAME: Company 2
      DEFAULT_USER_EMAIL: admin@company2.local
      DEFAULT_USER_TENANT_ID: default
      DEFAULT_USER_ROLES: admin
    configs:
      - source: portal_config_js
        target: /app/public/config.js
    depends_on:
      edc-consumer:
        condition: service_healthy
        restart: true

  postgres:
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dataspace
    image: bitnami/postgresql:17.2.0
    ports:
      - "5432:5432"
    configs:
      - source: postgres_init_sql
        target: /docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5

  keycloak:
    image: bitnami/keycloak:23.0.3
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_DATABASE_VENDOR=dev-file
      - KEYCLOAK_ADMIN_USER=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KEYCLOAK_EXTRA_ARGS='--import-realm'
      - KEYCLOAK_ENABLE_HEALTH_ENDPOINTS=true
    volumes:
      - ./keycloak/realm-export-dataspace.json:/opt/bitnami/keycloak/data/import/dataspace-realm.json
    healthcheck:
        test: ["CMD-SHELL", "curl --fail http://localhost:8080/realms/dataspace/.well-known/openid-configuration"]
        interval: 30s
        timeout: 10s
        start_interval: 30s
        retries: 5
    depends_on:
      postgres:
        condition: service_healthy
        restart: true

  geodata:
    image: nginx
    ports:
      - "8088:80"
    volumes:
      - ./geodata:/usr/share/nginx/html:ro
    configs:
      - source: geodata_nginx_config
        target: /etc/nginx/nginx.conf
    restart: always

  import-edc-provider-data:
    image: alpine/curl
    volumes:
      - ./initialization/init.sh:/scripts/init.sh
    working_dir: /scripts
    environment:
      - EDC_BASE_URL=http://edc-provider:19193
    command: /scripts/init.sh
    depends_on:
      edc-provider:
        condition: service_healthy
        restart: true
      edc-consumer:
        condition: service_healthy
        restart: true

configs:
  postgres_init_sql:
    content: |
      CREATE SCHEMA IF NOT EXISTS consumer;
      CREATE SCHEMA IF NOT EXISTS provider;
  portal_config_js:
    content: |
      var config = {
        showDevices: ${PORTAL_FRONTEND_SHOW_DEVICES-false},
        showThingDescriptions: ${PORTAL_FRONTEND_SHOW_THING_DESCRIPTIONS-false},
        showQuery: ${PORTAL_FRONTEND_SHOW_QUERY-false},
        showCustomers: ${PORTAL_FRONTEND_SHOW_CUSTOMERS-false},
        showAssets: ${PORTAL_FRONTEND_SHOW_ASSETS-true},
        showPolicies: ${PORTAL_FRONTEND_SHOW_POLICIES-true},
        showContractDefinitions: ${PORTAL_FRONTEND_SHOW_CONTRACT_DEFINITIONS-true},
        showCatalog: ${PORTAL_FRONTEND_SHOW_CATALOG-true},
        showFederatedCatalog: ${PORTAL_FRONTEND_SHOW_FEDERATED_CATALOG-true},
        showContractAgreements: ${PORTAL_FRONTEND_SHOW_CONTRACT_AGREEMENTS-true},
        showTransferProcesses: ${PORTAL_FRONTEND_SHOW_TRANSFER_PROCESSES-true},
        showThingsboard: ${PORTAL_FRONTEND_SHOW_THINGSBOARD-false},
        showKeycloak: ${PORTAL_FRONTEND_SHOW_KEYCLOAK-false}
      }
  geodata_nginx_config:
    content: |
      worker_processes 1;

      events {
          worker_connections 1024;
      }

      http {
          include       mime.types;
          default_type  application/octet-stream;

          server {
              listen 80;
              server_name localhost;

              root /usr/share/nginx/html;
              index index.html;

              location ~ \.json$ {
                  default_type application/json;
              }

              location ~ \.geojson$ {
                  default_type application/json;
              }

              location / {
                  autoindex on;
                  autoindex_format json;
              }

              error_page 404 /404.html;
          }
      }
        